<template>
  <div class="main">
    <div class="first_selection" v-show="show_first">
    <h2>Выберите необходимый договор</h2>
    <h2>
      <select @change="selection($event)">
        <option selected disabled hidden>Выберите необходимый договор</option>
        <option :value="agrmt.msg" v-for="agrmt in agrmns" :key="agrmt.id">{{ agrmt.msg }}</option>
      </select>
    </h2>
    <p v-show="select_first_step">
      В качестве кого Вы хотели бы заключить договор?
    </p>
    <select v-show="select_first_step" @change="selection_2($event)">
      <option value="" selected disabled hidden>Выберите правовую форму</option>
      <option :value="donor.value" v-for="(donor, index) in donors" :key="index">{{ donor.msg }}</option>
    </select>
    <p v-show="select_second_step">С кем Вы планируете заключить договор?</p>
    <select v-show="select_second_step" @change="selection_3($event)">
      <option value="" selected disabled hidden>Выберите правовую форму</option>
      <option :value="recipient.value" v-for="(recipient, index) in recipients" :key="index">{{ recipient.msg }}</option>
    </select>
  </div>
  <div class="second_selection" v-show="!show_first">
    <div id="sec_">
      <div id="left_menu">
        <p>{{ select_first_step }}</p>

          <div class="left_menu_form">
            <form>
              <vue-form-generator :schema="schema" :model="model">
              </vue-form-generator>
              <savefile :agreement="select_first_step" :company="select_second_step"/>
            </form>
          </div>

      </div>
      <div id="right_menu">
        <p>right</p>
        <p v-if="model" v-html="prettyJSON(model)"></p>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import savefile from './savefile'

export default {
  components: { savefile },
  name: 'Header',
  props: {},
  data () {
    return {
      show_first: true,
      select_first_step: '',
      select_second_step: '',
      select_third_step: '',
      agrmns: [
        {
          id: 1,
          msg: 'Договор оказания услуг'
        },
        {
          id: 2,
          msg: 'Хитровыебанный договор анального покорства'
        },
        {
          id: 3,
          msg: 'Договор Жопошная боль'
        },
        {
          id: 4,
          msg: 'Договор N'
        }
      ],
      donors: [
        {
          id: 1,
          msg: 'Физическое лицо',
          value: 'ФЛ'
        },
        {
          id: 2,
          msg: 'Юридическое лицо',
          value: 'ЮЛ'
        },
        {
          id: 3,
          msg: 'Самозанятый',
          value: 'СЗ'
        },
        {
          id: 4,
          msg: 'Индивидуальный предприниматель',
          value: 'ИП'
        }
      ],
      recipients: [
        {
          id: 1,
          msg: 'Физическое лицо',
          value: 'ФЛ'
        },
        {
          id: 2,
          msg: 'Юридическое лицо',
          value: 'ЮЛ'
        },
        {
          id: 3,
          msg: 'Самозанятый',
          value: 'СЗ'
        },
        {
          id: 4,
          msg: 'Индивидуальный предприниматель',
          value: 'ИП'
        }
      ],
      model: {
        fullName: '',
        date: '',
        email: ''
      },
      schema: {
        groups: [
          {
            legend: 'Данные договора',
            fields: [
              {
                type: 'input',
                inputType: 'text',
                label: 'ФИО',
                model: 'fullName',
                id: 'user_name',
                placeholder: 'Ваше ФИО',
                featured: true,
                required: true
              },
              {
                type: 'input',
                inputType: 'email',
                label: 'Электронная почта',
                model: 'email',
                placeholder: 'Электронная почта'
              },
              {
                type: 'input',
                inputType: 'date',
                label: 'Дата заключения договора',
                model: 'date',
                min: 10,
                required: true
              }
            ]
          },
          {
            legend: 'Дополнительные данные',
            fields: [
              {
                type: 'select',
                label: 'Выберите вариант договора',
                model: 'type',
                values: ['Вариант 1', 'Вариант 2', 'Вариант 3']
              },
              {
                type: 'submit',
                label: 'Скачать договор',
                model: 'submit'
              }
            ]
          }
          ],
        }
    }
  },
  methods: {
    selection(event) {
      this.select_first_step = event.target.value
    },
    selection_2(event) {
      this.select_second_step = event.target.value
    },
    selection_3(event) {
      this.select_third_step = event.target.value
      this.show_first = false
    },
    prettyJSON: function(json) {
      if (json) {
        json = JSON.stringify(json, undefined, 4);
        json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+-]?\d+)?)/g, function(match) {
        var cls = 'number';
        if (/^"/.test(match)) {
          if (/:$/.test(match)) {
            cls = 'key';
          } else {
            cls = 'string';
          }
          } else if (/true|false/.test(match)) {
            cls = 'boolean';
          } else if (/null/.test(match)) {
            cls = 'null';
          }
          return '<span class="' + cls + '">' + match + '</span>';
          })
        }
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
select {
  text-align-last: center;
}
#sec_ {
  display: flex;
}
#left_menu {
  border: darkgray 1px solid;
  min-width: 300px;
  max-width: 35%;
  float: left;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 10px;
}
#right_menu {
  border: darkgray 1px solid;
  width: 65%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
</style>
